body {
    background-color: rgb(245, 246, 247);   
}

.logo {
    padding: 0 300px 0;
    margin: 0 
}

.signupblock {
    margin: 0 auto;
}

.login_box {
    display: block;
    position: relative;
    width: 100%;
    height: 51%;
    background-color: white;
    border: 1px solid #dadada;
    padding: 10px 110px 10px 14px;
    box-sizing: border-box;
}

.date_login_box {
    display: inline-table;
    position: relative;
    width: 32%;
    height: 51%;
    background-color: white;
    border: 1px solid #dadada;
    padding: 10px 110px 10px 14px;
    box-sizing: border-box;
}

.input_box {
    width: 80%;
    height: 40%;
    box-sizing: border-box;
    border: none;
}

.date_input_box {
    width:32%;
    box-sizing: border-box;
    border: none;
}

.genderText {
    color: lightslategray;
}